<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {estilo : "acceso.css" , titulo : "Acceso" }) %>

  <body>
    <%- include('../partials/header.ejs')%>

      <main>

        <div style="width: 1280px; height: 1024px; position: relative">
          <div style="width: 1280px; height: 80px; left: 0px; top: 0px; position: absolute; background: rgba(0, 157, 224, 0.67)">
            <img style="width: 62px; height: 80px; left: 1154px; top: 0px; position: absolute" src="https://via.placeholder.com/62x80" />
            <div style="padding-left: 40px; padding-right: 40px; left: 0px; top: 30px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 163px; display: inline-flex">
              <div style="color: black; font-size: 15px; font-family: Roboto; font-weight: 600; word-wrap: break-word">SISTEMA EDUCATIVO DE BOLETINES ACADÉMICOS</div>
            </div>
            <div style="left: 801px; top: 30px; position: absolute; color: black; font-size: 15px; font-family: Roboto; font-weight: 600; word-wrap: break-word">COLEGIO SECUNDARIO “CAMPO CONTRERAS”</div>
            <div style="padding-left: 40px; padding-right: 40px; left: 425px; top: 26px; position: absolute"></div>
            <div style="left: 568px; top: 31px; position: absolute; color: black; font-size: 15px; font-family: Roboto; font-weight: 600; word-wrap: break-word">CICLO LECTIVO 2024</div>
          </div>
          <div style="left: 0px; top: 80px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
            <img style="width: 1280px; height: 944px" src="https://via.placeholder.com/1280x944" />
          </div>
          <div style="width: 600px; height: 479px; left: 340px; top: 272px; position: absolute">
            <div style="width: 600px; height: 479px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0.80); border-radius: 58px; border: 3px #FFA503 solid"></div>
            <div style="left: 231px; top: 38px; position: absolute; color: black; font-size: 24px; font-family: Roboto; font-weight: 700; word-wrap: break-word">BIENVENIDO</div>
            <div style="width: 480px; height: 112px; left: 60px; top: 91px; position: absolute">
              <div style="width: 480px; height: 56px; left: 0px; top: 29px; position: absolute; background: white; border-radius: 15px; border: 2px #FFA503 solid"></div>
              <div style="left: 8px; top: 45px; position: absolute; color: rgba(0, 0, 0, 0.50); font-size: 20px; font-family: Roboto; font-weight: 300; word-wrap: break-word">nombreyapellido@cscc.edu.ar</div>
              <div style="left: 0px; top: 0px; position: absolute; color: black; font-size: 20px; font-family: Roboto; font-weight: 700; word-wrap: break-word">Email</div>
            </div>
            <div style="width: 480px; height: 112px; left: 60px; top: 203px; position: absolute">
              <div style="width: 480px; height: 56px; left: 0px; top: 29px; position: absolute; background: white; border-radius: 15px; border: 2px #FFA503 solid"></div>
              <div style="left: 8px; top: 45px; position: absolute; color: rgba(0, 0, 0, 0.50); font-size: 20px; font-family: Roboto; font-weight: 300; word-wrap: break-word">Ingresa tu contraseña</div>
              <div style="left: 0px; top: 0px; position: absolute; color: black; font-size: 20px; font-family: Roboto; font-weight: 700; word-wrap: break-word">Contraseña</div>
              <div style="width: 31px; height: 31px; left: 436px; top: 42px; position: absolute">
                <div style="width: 7.75px; height: 7.75px; left: 11.62px; top: 11.62px; position: absolute; background: rgba(0, 0, 0, 0.50)"></div>
                <div style="width: 29.06px; height: 19.38px; left: 0.97px; top: 5.81px; position: absolute; background: rgba(0, 0, 0, 0.50)"></div>
              </div>
              <div style="left: 208px; top: 87px; position: absolute; color: black; font-size: 20px; font-family: Roboto; font-weight: 400; word-wrap: break-word">¿Has olvidado tu contraseña?</div>
            </div>
            <div style="padding-left: 39px; padding-right: 39px; padding-top: 16px; padding-bottom: 16px; left: 186.50px; top: 353px; position: absolute; background: #FFA503; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10); border-radius: 30px; overflow: hidden; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
              <div style="color: black; font-size: 20px; font-family: Roboto Flex; font-weight: 700; line-height: 16px; word-wrap: break-word">INICIAR SESIÓN</div>
            </div>
            <div style="left: 154px; top: 431px; position: absolute"><span style="color: black; font-size: 20px; font-family: Roboto; font-weight: 400; word-wrap: break-word">¿No tienes cuenta?</span><span style="color: black; font-size: 20px; font-family: Roboto; font-weight: 600; word-wrap: break-word"> </span><span style="color: black; font-size: 20px; font-family: Roboto; font-weight: 700; word-wrap: break-word">REGISTRATE</span></div>
          </div>
        </div>
      </main>

      <%- include('../partials/footer.ejs')%>
  </body>

</html>