<header>
  <nav>
    <div class="menu-container">
      <ul id="menu">
        <li><a href="/">Acceso</a></li>
        <li><a href="/admin">Administrador</a></li>
        <li><a href="/preceptor">Preceptor</a></li>
        <li><a href="/docente">Docente</a></li>
        <li><a href="/directivo">Directivo</a></li>
      </ul>
    </div>
  </nav>
</header>