<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {titulo: "Usuarios" , style: "style.css" , estilo: "usuario.css" }) %>
</head>

<body class="hidden">
    <!-- SIDEBAR -->
    <%- include('../partials/sidebar.ejs') %>
        <!-- CONTENT -->
        <section id="content">
            <!-- NAVBAR -->
            <%- include('../partials/header.ejs', {form_action: "#" }) %>
                <!-- MAIN -->
                <main>
                    
                    <ul class="nav-links container">
                        <li class="center"><a href="#">Registrar</a></li>
                        <li class="upward"><a href="#">Crear Usuario</a></li>
                        <li class="forward"><a href="#">Modificar</a></li>
                    </ul>

                    <div class="container">
                        <form action="#">
                            <div class="form first">
                                <div class="details personal">
                                    <span class="title">Detalles Personales</span>
                                    <div class="fields">
                                        <div class="input-field">
                                            <label>Apellido/s</label>
                                            <input type="text" placeholder="Ingresa tu/s apellido/s" required>
                                        </div>
                                        <div class="input-field">
                                            <label>Nombre/s</label>
                                            <input type="text" placeholder="Ingresa tu/s nombre/s" required>
                                        </div>
                                        <div class="input-field">
                                            <label>Fecha de Nacimiento</label>
                                            <input type="date" placeholder="Ingresa tu fecha de nacimiento" required>
                                        </div>
                                        <div class="input-field">
                                            <label>Email</label>
                                            <input type="text" placeholder="algo@algo.com" required>
                                        </div>
                                        <div class="input-field">
                                            <label>Celular</label>
                                            <input type="text" placeholder="3855234345" required>
                                        </div>
                                        <div class="input-field">
                                            <label>Género</label>
                                            <select required>
                                                <option disabled selected>Selecciona Género</option>
                                                <option>Hombre</option>
                                                <option>Mujer</option>
                                                <option>Otro</option>
                                            </select>
                                        </div>
                                        <div class="input-field">
                                            <label>Cargo</label>
                                            <select required>
                                                <option disabled selected>Selecciona Cargo</option>
                                                <option>Director</option>
                                                <option>Preceptor</option>
                                                <option>Docente</option>
                                                <option>Técnico</option>
                                            </select>
                                        </div>
                                        <div class="input-field">
                                            <label>DNI</label>
                                            <input type="text" placeholder="34094325" required>
                                        </div>
                                        <div class="input-field">
                                            <label>Situación</label>
                                            <select required>
                                                <option disabled selected>Selecciona Situación</option>
                                                <option>Suplente</option>
                                                <option>Titular</option>
                                                <option>Interino</option>
                                                <option>Provisional</option>
                                                <option>Adjunto</option>
                                                <option>Jornada Parcial</option>
                                                <option>Jornada Completa</option>
                                                <option>Sustituto</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button class="nextBtn" type="submit">
                                    <span class="btnText">Enviar</span>
                                    <i class="uil uil-navigator"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </main>
        </section>
        <!-- Script de carga inicial -->
        <script src="/js/administrador_general/all_menues.js"></script>
        <!-- Script para mejorar la respuesta con "hide" -->
        <script src="/js/main_menues/usuario.js"></script>
</body>

</html>